USE [master]
GO
/****** Object:  Database [NGANHANG]    Script Date: 12/14/2021 3:18:58 PM ******/
CREATE DATABASE [NGANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NGANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NGANHANG.mdf' , SIZE = 21504KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NGANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\NGANHANG_log.ldf' , SIZE = 29504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NGANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NGANHANG]
GO
/****** Object:  User [HTKN]    Script Date: 12/14/2021 3:18:58 PM ******/
CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  DatabaseRole [MSmerge_PAL_role]    Script Date: 12/14/2021 3:18:58 PM ******/
CREATE ROLE [MSmerge_PAL_role]
GO
/****** Object:  DatabaseRole [MSmerge_E6FA01B09163416FA45C968B6BCB1853]    Script Date: 12/14/2021 3:18:58 PM ******/
CREATE ROLE [MSmerge_E6FA01B09163416FA45C968B6BCB1853]
GO
/****** Object:  DatabaseRole [MSmerge_B1A3D5811B29499997364FED4F232661]    Script Date: 12/14/2021 3:18:58 PM ******/
CREATE ROLE [MSmerge_B1A3D5811B29499997364FED4F232661]
GO
/****** Object:  DatabaseRole [MSmerge_80C1C81A68F34BA5AD1B95423A2A3A59]    Script Date: 12/14/2021 3:18:58 PM ******/
CREATE ROLE [MSmerge_80C1C81A68F34BA5AD1B95423A2A3A59]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_E6FA01B09163416FA45C968B6BCB1853]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_B1A3D5811B29499997364FED4F232661]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_80C1C81A68F34BA5AD1B95423A2A3A59]
GO
/****** Object:  Schema [MSmerge_PAL_role]    Script Date: 12/14/2021 3:18:58 PM ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  Table [dbo].[ChiNhanh]    Script Date: 12/14/2021 3:18:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_A80493F248764CC4B2F85B966AF1F863]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()),
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_ABB9A00B1F574229AE5D60F4FE1A8E48]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_GOIRUT]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()),
	[SOTIEN] [money] NOT NULL CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)),
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_BB0384A7151746F2B8373A8E49128BF2]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL CONSTRAINT [DF_KhachHang_PHAI]  DEFAULT (N'Nam'),
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NULL,
	[MACN] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_92DB14F2D02B45EEA82B6DE94E7088E3]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[PHAI] [nvarchar](3) NOT NULL CONSTRAINT [DF_NhanVien_PHAI]  DEFAULT (N'Nam'),
	[SODT] [nvarchar](15) NULL,
	[MACN] [nchar](10) NOT NULL,
	[TrangThaiXoa] [int] NOT NULL CONSTRAINT [DF_NhanVien_TrangThaiXoa]  DEFAULT ((0)),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_04DD3D476D2F416E9EE009281C78FCAE]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NOT NULL CONSTRAINT [DF__TaiKhoan__SODU__1BFD2C07]  DEFAULT ((0)),
	[MACN] [nchar](10) NOT NULL,
	[NGAYMOTK] [datetime] NOT NULL CONSTRAINT [DF_TaiKhoan_NGAYMOTK]  DEFAULT (getdate()),
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_017E15C40407445B81BA98C2A626AA3D]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[Get_Subscribes]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Get_Subscribes]
AS
SELECT TENCN=PUBS.description, TENSERVER=subscriber_server
 FROM sysmergepublications  PUBS, sysmergesubscriptions SUBS
 WHERE PUBS.pubid = SUBS.pubid AND  publisher <> subscriber_server
 AND PUBS.description <>''

GO
/****** Object:  Index [MSmerge_index_245575913]    Script Date: 12/14/2021 3:18:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_245575913] ON [dbo].[ChiNhanh]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_357576312]    Script Date: 12/14/2021 3:18:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_357576312] ON [dbo].[GD_CHUYENTIEN]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_421576540]    Script Date: 12/14/2021 3:18:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_421576540] ON [dbo].[GD_GOIRUT]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_789577851]    Script Date: 12/14/2021 3:18:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_789577851] ON [dbo].[KhachHang]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_869578136]    Script Date: 12/14/2021 3:18:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_869578136] ON [dbo].[NhanVien]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [MSmerge_index_981578535]    Script Date: 12/14/2021 3:18:59 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [MSmerge_index_981578535] ON [dbo].[TaiKhoan]
(
	[rowguid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoanChuyen] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoanChuyen]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoanNhan] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoanNhan]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD  CONSTRAINT [FK_KhachHang_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[KhachHang] CHECK CONSTRAINT [FK_KhachHang_ChiNhanh]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([CMND])
REFERENCES [dbo].[KhachHang] ([CMND])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_EF7D4590_4D09_44C0_B012_434A79C61564] CHECK NOT FOR REPLICATION (([MAGD]>=(1) AND [MAGD]<=(1001) OR [MAGD]>(1001) AND [MAGD]<=(2001)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_EF7D4590_4D09_44C0_B012_434A79C61564]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_E13AE4F1_987A_4F5E_AF2A_29B0DF24A728] CHECK NOT FOR REPLICATION (([MAGD]>(6) AND [MAGD]<=(1006) OR [MAGD]>(1006) AND [MAGD]<=(2006)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_E13AE4F1_987A_4F5E_AF2A_29B0DF24A728]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_SODU] CHECK  (([SODU]>=(0)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_SODU]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoGiaoDich]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_BaoCaoGiaoDich] 
@SOTK NCHAR(9), 
@TUNGAY DATE, 
@DENNGAY DATE, 
@Permissions NCHAR(10)

AS 

BEGIN 
	SET NOCOUNT ON

	DECLARE @SODUBATDAU MONEY
	DECLARE @TONGTIENGDCT MONEY
	DECLARE @TONGTIENGDGR MONEY

	-- TỔNG TIỀN TRONG GD CHUYỂN TIỀN CỦA 1 TÀI KHOẢN 
	IF EXISTS(SELECT * FROM tempdb.sys.tables		
		WHERE name LIKE '#GDChuyenTienTemp1%') DROP TABLE #GDChuyenTienTemp1
	SELECT * INTO #GDChuyenTienTemp1
	FROM (SELECT * FROM LINK0.NGANHANG.dbo.GD_CHUYENTIEN) AS GDCT
	WHERE GDCT.NGAYGD BETWEEN (SELECT NGAYMOTK FROM DBO.TAIKHOAN WHERE SOTK = @SOTK) AND @TUNGAY
	SELECT @TONGTIENGDCT = SUM(SOTIEN)
	FROM (
		SELECT SOTIEN = -SOTIEN FROM #GDChuyenTienTemp1 WHERE SOTK_CHUYEN = @SOTK
		UNION
		SELECT SOTIEN FROM #GDChuyenTienTemp1 WHERE SOTK_NHAN= @SOTK
	) AS TONGTIEN1


	-- TỔNG TIỀN TRONG GD GỬI RÚT CỦA 1 TÀI KHOẢN 
	IF EXISTS(SELECT * FROM tempdb.sys.tables		
		WHERE name LIKE '#GDChuyenTienTemp2%') DROP TABLE #GDChuyenTienTemp2
	SELECT * INTO #GDChuyenTienTemp2
	FROM (SELECT * FROM LINK0.NGANHANG.dbo.GD_GOIRUT) AS GDGR
	WHERE GDGR.NGAYGD BETWEEN (SELECT NGAYMOTK FROM DBO.TAIKHOAN WHERE SOTK = @SOTK) AND @TUNGAY
	SELECT @TONGTIENGDGR = SUM(SOTIEN)
	FROM (
		SELECT SOTIEN = -SOTIEN FROM #GDChuyenTienTemp2 WHERE SOTK = @SOTK AND LOAIGD = 'RT'
		UNION
		SELECT SOTIEN FROM #GDChuyenTienTemp2 WHERE SOTK = @SOTK AND LOAIGD = 'GT'
	) AS TONGTIEN2

	
	-- SỐ DƯ CỦA 1 TÀI KHOẢN TRƯỚC NGÀY @TUNGAY
	
	IF(@TONGTIENGDCT IS NULL) SET @TONGTIENGDCT = 0.00
	IF(@TONGTIENGDGR IS NULL) SET @TONGTIENGDGR = 0.00
		
	SET @SODUBATDAU = @TONGTIENGDCT + @TONGTIENGDGR

	IF(@Permissions = 'CONGTY')
	BEGIN
		--Vì name của bảng tạm SQL sẽ định danh lại tên bảng tạm(tên user đặt + physical address)
		--nên nếu dùng OBJECT_ID sẽ không tìm được nên ở đây ta dùng LIKE và %(bỏ qua hậu tố physical address)
		IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#GDChuyenTienAll%') DROP TABLE #GDChuyenTienAll
		SELECT GDCT.NGAYGD, GDCT.SOTIEN, LOAIGD = 'CT' INTO #GDChuyenTienAll
		FROM (SELECT NGAYGD, SOTIEN FROM LINK0.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_CHUYEN = @SOTK) AS GDCT
		WHERE GDCT.NGAYGD BETWEEN @TUNGAY AND @DENNGAY

		IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#GDNhanTienAll%') DROP TABLE #GDNhanTienAll
		SELECT GDNT.NGAYGD, GDNT.SOTIEN, LOAIGD = 'NT' INTO #GDNhanTienAll
		FROM (SELECT NGAYGD, SOTIEN FROM LINK0.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_NHAN = @SOTK) AS GDNT
		WHERE GDNT.NGAYGD BETWEEN @TUNGAY AND @DENNGAY

		IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#GDGuiRutAll%') DROP TABLE #GDGuiRutAll
		SELECT GDGR.NGAYGD, GDGR.SOTIEN, GDGR.LOAIGD INTO #GDGuiRutAll
		FROM (SELECT NGAYGD, SOTIEN, LOAIGD FROM LINK0.NGANHANG.dbo.GD_GOIRUT WHERE SOTK = @SOTK) AS GDGR
		WHERE GDGR.NGAYGD BETWEEN @TUNGAY AND @DENNGAY

		IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#BangSaoKe%') DROP TABLE #BangSaoKe
		SELECT * INTO #BangSaoKe
		FROM ( 
				SELECT * FROM #GDChuyenTienAll 
				UNION
				SELECT * FROM #GDNhanTienAll 
				UNION
				SELECT * FROM #GDGuiRutAll
			 ) AS GD

		ALTER TABLE #BangSaoKe
		ADD SODUDAU MONEY, SODUSAU MONEY, TENGD NVARCHAR(20), STT INT IDENTITY(1,1);

		-- BANG SAO KE
		DECLARE cursorSaoKe CURSOR FOR

		SELECT * FROM #BangSaoKe
		OPEN cursorSaoKe

		DECLARE @SODUDAU MONEY 
		DECLARE @SODUSAU MONEY 
		DECLARE @TENGD NVARCHAR(20)
		DECLARE @NGAYGD DATE
		DECLARE @SOTIENGD MONEY 
		DECLARE @LOAIGD NCHAR(2)
		DECLARE @STT INT


		FETCH NEXT FROM cursorSaoKe INTO @NGAYGD, @SOTIENGD, @LOAIGD, @SODUDAU, @SODUSAU, @TENGD, @STT
		SET @SODUDAU = @SODUBATDAU

		WHILE @@FETCH_STATUS = 0
		BEGIN
			IF(@LOAIGD = 'CT')
				BEGIN
					SET @SODUSAU = @SODUDAU - @SOTIENGD
					SET @TENGD = N'Chuyển tiền'
				END
			ELSE IF(@LOAIGD = 'RT')
				BEGIN
					SET @SODUSAU = @SODUDAU - @SOTIENGD
					SET @TENGD = N'Rút tiền'
				END
			ELSE IF(@LOAIGD = 'GT')
				BEGIN
					SET @SODUSAU = @SODUDAU + @SOTIENGD
					SET @TENGD = N'Gửi tiền'
				END
			ELSE IF(@LOAIGD = 'NT')
				BEGIN
					SET @SODUSAU = @SODUDAU + @SOTIENGD
					SET @TENGD = N'Nhận tiền'
				END

				
			UPDATE DBO.#BangSaoKe SET SODUDAU = @SODUDAU, SODUSAU = @SODUSAU, TENGD = @TENGD WHERE STT = @STT
			SET @SODUBATDAU = @SODUSAU

			FETCH NEXT FROM cursorSaoKe INTO @NGAYGD, @SOTIENGD, @LOAIGD, @SODUDAU, @SODUSAU, @TENGD, @STT
			SET @SODUDAU = @SODUBATDAU
		END

		CLOSE cursorSaoKe              -- Đóng Cursor
		DEALLOCATE cursorSaoKe         -- Giải phóng tài nguyên

		SELECT SODUDAU, NGAYGD, TENGD, SOTIEN, SODUSAU FROM #BangSaoKe
	END
END

-- EXEC [dbo].[sp_BaoCaoGiaoDich] '000000102', '2021-10-12', '2021-10-30', 'CONGTY'

GO
/****** Object:  StoredProcedure [dbo].[sp_CalSODU]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CalSODU] @SOTK NCHAR(9), @SOTIEN MONEY, @TYPE NCHAR(10)
AS
BEGIN
	DECLARE @SODU MONEY
	SELECT @SODU=SODU FROM DBO.TAIKHOAN WHERE SOTK = @SOTK
	IF(@TYPE = 'TANG')
	BEGIN
		SET @SODU = @SODU + @SOTIEN
		UPDATE DBO.TAIKHOAN SET SODU = @SODU WHERE SOTK = @SOTK
	END
	ELSE IF(@TYPE = 'GIAM')
	BEGIN
		IF(@SODU > @SOTIEN)
		BEGIN
			SET @SODU = @SODU - @SOTIEN
			UPDATE DBO.TAIKHOAN SET SODU = @SODU WHERE SOTK = @SOTK
		END
		ELSE raiserror ( 'SODU không đủ', 16, 1)
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckMANV]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[sp_CheckMANV] @MANV NCHAR(10)
AS
BEGIN
	IF EXISTS (SELECT * FROM DBO.NHANVIEN WHERE MANV = @MANV)
		RETURN 1
	ELSE IF EXISTS (SELECT * FROM LINK0.NGANHANG.DBO.NHANVIEN WHERE MANV = @MANV)
		RETURN 2
	ELSE
		RETURN 0
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CheckSOTK]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CheckSOTK] @SOTK NCHAR(9)
AS
BEGIN
	IF EXISTS (SELECT * FROM DBO.TAIKHOAN WHERE SOTK = @SOTK)
		RETURN 1
	ELSE
		BEGIN
			raiserror ( 'SOTK khong ton tai', 16, 1)
			RETURN 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ChuyenTien]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ChuyenTien] @SOTK_CHUYEN NCHAR(9), @SOTIEN MONEY,  @SOTK_NHAN NCHAR(9), @MANV NCHAR(10)
AS

SET XACT_ABORT ON
BEGIN TRANSACTION
	BEGIN TRY
		INSERT INTO GD_CHUYENTIEN (SOTK_CHUYEN, SOTIEN, SOTK_NHAN, MANV)
		VALUES ( @SOTK_CHUYEN, @SOTIEN, @SOTK_NHAN, @MANV)
		EXEC sp_CalSODU @SOTK_CHUYEN, @SOTIEN, 'GIAM'
		EXEC sp_CalSODU @SOTK_NHAN, @SOTIEN, 'TANG'
		COMMIT
	END TRY

	BEGIN CATCH
	   ROLLBACK
	END CATCH


-- EXEC [dbo].[sp_ChuyenTien] '000000102', 120000, '000000101', 'NV2'
GO
/****** Object:  StoredProcedure [dbo].[sp_CurrentAccount]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CurrentAccount]
  @SOTK NCHAR(9)
AS
 DECLARE 
 @CMND NCHAR(10), 
 @HO nvarchar(40), 
 @TEN nvarchar(10), 
 @SODU MONEY,

 @MACN NCHAR(10),
 @MACNHT NCHAR(10)
 IF exists(select SOTK from  dbo.TAIKHOAN  where SOTK = @SOTK)
 BEGIN
	SELECT @CMND=CMND FROM dbo.TAIKHOAN WHERE SOTK=@SOTK
	SELECT @MACN=MACN FROM dbo.TAIKHOAN WHERE SOTK=@SOTK
	SELECT @MACNHT=MACN FROM dbo.CHINHANH
	IF (@MACN = @MACNHT)
	BEGIN
		IF EXISTS (SELECT CMND FROM DBO.KHACHHANG WHERE CMND = @CMND)
		BEGIN
			SELECT SOTK=@SOTK, SODU=(SELECT SODU FROM dbo.TAIKHOAN WHERE SOTK=@SOTK), CMND, HO, TEN
   			FROM KHACHHANG WHERE CMND = @CMND
		END

		ELSE IF EXISTS (SELECT CMND FROM LINK0.NGANHANG.DBO.KHACHHANG WHERE CMND = @CMND)
		BEGIN
			SELECT SOTK=@SOTK, SODU=(SELECT SODU FROM dbo.TAIKHOAN WHERE SOTK=@SOTK), CMND, HO, TEN
   			FROM LINK0.NGANHANG.DBO.KHACHHANG WHERE CMND = @CMND
		END

		ELSE
		BEGIN
			raiserror ( 'Lỗi', 16, 1)
			RETURN -1
		END
	END

	ELSE
	BEGIN
		raiserror ( 'SOTK này có MACN thuộc CHINHANH khác', 16, 1)
		RETURN -1
	END
 END
 ELSE  -- không có TK
     raiserror ( 'SOTK không tồn tại', 16, 1)

-- EXEC [dbo].[sp_CurrentAccount] '000000102'
GO
/****** Object:  StoredProcedure [dbo].[sp_DisplayMovements]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DisplayMovements] @SOTK NCHAR(9)
AS
BEGIN
	SET NOCOUNT ON

	IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#GDChuyenTien%') DROP TABLE #GDChuyenTien
	SELECT GDCT.MAGD, GDCT.NGAYGD, GDCT.SOTIEN, LOAIGD = 'CT' INTO #GDChuyenTien
	FROM (
		SELECT MAGD, NGAYGD, SOTIEN FROM dbo.GD_CHUYENTIEN WHERE SOTK_CHUYEN = @SOTK
		UNION
		SELECT MAGD, NGAYGD, SOTIEN FROM LINK0.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_CHUYEN = @SOTK
		) AS GDCT

	IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#GDNhanTien%') DROP TABLE #GDNhanTien
	SELECT GDNT.MAGD, GDNT.NGAYGD, GDNT.SOTIEN, LOAIGD = 'NT' INTO #GDNhanTien
	FROM (
		SELECT MAGD, NGAYGD, SOTIEN FROM dbo.GD_CHUYENTIEN WHERE SOTK_NHAN = @SOTK
		UNION
		SELECT MAGD, NGAYGD, SOTIEN FROM LINK0.NGANHANG.dbo.GD_CHUYENTIEN WHERE SOTK_NHAN = @SOTK
		) AS GDNT

	IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#GDGuiRut%') DROP TABLE #GDGuiRut
	SELECT GDGR.MAGD, GDGR.NGAYGD, GDGR.SOTIEN, GDGR.LOAIGD INTO #GDGuiRut
	FROM (
		SELECT MAGD, NGAYGD, SOTIEN, LOAIGD FROM dbo.GD_GOIRUT WHERE SOTK = @SOTK
		UNION
		SELECT MAGD, NGAYGD, SOTIEN, LOAIGD FROM LINK0.NGANHANG.dbo.GD_GOIRUT WHERE SOTK = @SOTK
		) AS GDGR

	IF EXISTS(SELECT * FROM tempdb.sys.tables WHERE name LIKE '#DisplayMovements%') DROP TABLE #DisplayMovements
	SELECT * INTO #DisplayMovements
	FROM ( 
			SELECT * FROM #GDChuyenTien
			UNION
			SELECT * FROM #GDNhanTien 
			UNION
			SELECT * FROM #GDGuiRut
			) AS GD
	

	ALTER TABLE #DisplayMovements ADD TENGD NVARCHAR(20), STT INT IDENTITY(1,1);

	DECLARE cursorDisplayMovs CURSOR FOR

	SELECT LOAIGD, STT FROM #DisplayMovements
	OPEN cursorDisplayMovs

	DECLARE @TENGD NVARCHAR(20)
	DECLARE @LOAIGD NCHAR(2)
	DECLARE @STT INT

	FETCH NEXT FROM cursorDisplayMovs INTO @LOAIGD, @STT

	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF(@LOAIGD = 'CT')
			SET @TENGD = N'Chuyển tiền'
		ELSE IF(@LOAIGD = 'RT')
			SET @TENGD = N'Rút tiền'
		ELSE IF(@LOAIGD = 'GT')
			SET @TENGD = N'Gửi tiền'
		ELSE IF(@LOAIGD = 'NT')
			SET @TENGD = N'Nhận tiền'
		
		UPDATE DBO.#DisplayMovements SET TENGD = @TENGD WHERE STT = @STT
		FETCH NEXT FROM cursorDisplayMovs INTO @LOAIGD, @STT
	END

	CLOSE cursorDisplayMovs              -- Đóng Cursor
	DEALLOCATE cursorDisplayMovs         -- Giải phóng tài nguyên

	SELECT MAGD, LOAIGD, NGAYGD, SOTIEN FROM #DisplayMovements
	ORDER BY NGAYGD DESC
END

-- EXEC [dbo].[sp_DisplayMovements] '000000102'
GO
/****** Object:  StoredProcedure [dbo].[sp_GuiTien]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GuiTien] @SOTK NCHAR(9), @SOTIEN MONEY, @MANV NCHAR(10)
AS

SET XACT_ABORT ON
BEGIN TRANSACTION
	BEGIN TRY
		INSERT INTO GD_GOIRUT (LOAIGD, SOTK, SOTIEN, MANV)
		VALUES ('GT', @SOTK, @SOTIEN, @MANV)
		EXEC sp_CalSODU @SOTK, @SOTIEN, 'TANG'
		COMMIT
	END TRY

	BEGIN CATCH
	   ROLLBACK
	END CATCH
-- exec [dbo].[sp_GuiTien] '000000102', 132000,'NV2'
GO
/****** Object:  StoredProcedure [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Lay_Thong_Tin_NV_Tu_Login]
@TENLOGIN NCHAR( 10)
AS
DECLARE @UID INT
DECLARE @MANV NCHAR(10)
SELECT @UID= uid , @MANV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MANV= @MANV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM dbo.NHANVIEN WHERE MANV=@MANV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)

GO
/****** Object:  StoredProcedure [dbo].[sp_RutTien]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_RutTien] @SOTK NCHAR(9), @SOTIEN MONEY, @MANV NCHAR(10)
AS

SET XACT_ABORT ON
BEGIN TRANSACTION
	BEGIN TRY
		INSERT INTO GD_GOIRUT (LOAIGD, SOTK, SOTIEN, MANV)
		VALUES ('RT', @SOTK, @SOTIEN, @MANV)
		EXEC sp_CalSODU @SOTK, @SOTIEN, 'GIAM'
		COMMIT
	END TRY

	BEGIN CATCH
	   ROLLBACK
	END CATCH

-- EXEC [dbo].[sp_RutTien] '000000102', 200000,'NV2'
GO
/****** Object:  StoredProcedure [dbo].[sp_TimNV]    Script Date: 12/14/2021 3:18:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_TimNV]
  @X NCHAR(10)
AS
 DECLARE @MACN NCHAR(10), @HO nvarchar(40), @TEN nvarchar(10)
 IF  exists(select MANV from  dbo.NHANVIEN  where MANV=@X)
 BEGIN
   	SELECT TENCN=(SELECT TENCN FROM dbo.CHINHANH), HO, TEN 
   	FROM NHANVIEN WHERE MANV=@X
 END
 ELSE
  IF  exists(select MANV from LINK0.NGANHANG.dbo.NHANVIEN where MANV=@X)
  BEGIN
    SELECT  @MACN=MACN,  @HO=HO, @TEN=TEN 
   	    FROM LINK0.NGANHANG.dbo.NHANVIEN WHERE MANV=@X
   	SELECT  TENCN=TENCN, HO=@HO, TEN=@TEN
   		FROM LINK0.NGANHANG.dbo.CHINHANH WHERE MACN=@MACN              
  END
  ELSE  -- không có nv
     raiserror ( 'Ma nhan vien ban tim khong co', 16, 1)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'‘GT’ : gởi tiền vào TK , ‘RT’ : rút tiền khỏi TK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GD_GOIRUT', @level2type=N'COLUMN',@level2name=N'LOAIGD'
GO
USE [master]
GO
